import java.io.File;
import java.io.File;
import java.io.FileWriter;
import java.io.IOException;
import java.util.List;
import java.util.ArrayList;
import java.io.PrintWriter;

import cz.cuni.mff.d3s.tools.perfdoc.workloads.WorkloadImpl;
import cz.cuni.mff.d3s.tools.perfdoc.workloads.ServiceWorkloadImpl;

public class TMeasurement {

    //full-path to directory, where results will be saved (must end with File.separator)
    private static String directoryWhereToSaveResults = "$directoryWhereToSaveResults";   
        
    private static int PRIORITY = $priority;

    //note that the WARMUP_TIME and MEASUREMENT_TIME are in seconds
    private static int WARMUP_CYCLES = $warmupCycles;
    private static int WARMUP_TIME = $warmupTime;
    private static int MEASUREMENT_CYCLES = $measurementCycles;
    private static int MEASUREMENT_TIME = $measurementTime;

    public static void main(String[] argv) 
            throws Throwable {
        new TMeasurement(argv);
    } 

    public TMeasurement(String[] argv) 
            throws Throwable {
        
        WorkloadImpl workloadImpl = new WorkloadImpl();
        ServiceWorkloadImpl serviceImpl = new ServiceWorkloadImpl();

        //passing the priority to generator
        serviceImpl.setPriority(PRIORITY);

        TGenerator tGen = new TGenerator();
        tGen.call(workloadImpl, serviceImpl);
       
        //warmup
        int warmupCyclesSpent = 0;
        long warmupTimeSpent = 0;
        long warmupStartTime = System.currentTimeMillis() / 1000;

        while(true) {
            warmupTimeSpent = (System.currentTimeMillis() / 1000) - warmupStartTime;
            if ((warmupTimeSpent > WARMUP_TIME) || (warmupCyclesSpent > WARMUP_CYCLES)) {
                break;
            }

            for (Object[] objs : workloadImpl.getCalls()) {
                Object[] args = (Object[]) objs[1];
                Object objectOnWhichToInvoke = objs[0];

                #if ($mFunctionIsStatic)
                TMethod tMet = new TMethod();
                tMet.call(args);
                #else
                TMethod tMet = new TMethod(($mClass)objectOnWhichToInvoke);
                tMet.call(args);
                #end
            }

            //refresh object instances
            workloadImpl = new WorkloadImpl();
            tGen.call(workloadImpl, serviceImpl);
            warmupCyclesSpent++;
        }

        //measurement
        List<Long> times = new ArrayList<>();

        long measurementCyclesSpent = 0;
        long measurementTimeSpent = 0;
        long measurementStartTime = System.currentTimeMillis() / 1000;
        while (true) {
            measurementTimeSpent = (System.currentTimeMillis() / 1000) - measurementStartTime;
            if ((measurementTimeSpent > MEASUREMENT_TIME) || (measurementCyclesSpent > MEASUREMENT_CYCLES)) {
                break;
            }

            for (Object[] objs : workloadImpl.getCalls()) {
                Object[] args = (Object[]) objs[1];
                Object objectOnWhichToInvoke = objs[0];

                #if ($mFunctionIsStatic)
                TMethod tMet = new TMethod();
                #else
                TMethod tMet = new TMethod(($mClass)objectOnWhichToInvoke);
                #end

                //Thread.yield();

                long startTime = System.nanoTime();
                tMet.call(args);
                long endTime = System.nanoTime();
                
                //skip if it's the first sample, which is ussualy bad (except for the case, when MEASUREMENT_CYCLES == 1)
                if (!(MEASUREMENT_CYCLES > 1) || (measurementCyclesSpent > 0)) {
                    times.add(endTime - startTime);
                }
            }

            //refresh object instances
            workloadImpl = new WorkloadImpl();
            tGen.call(workloadImpl, serviceImpl);

            measurementCyclesSpent++;
        }

        File file = new File(directoryWhereToSaveResults + "results.txt");

        try (PrintWriter writer = new PrintWriter(new FileWriter(file))) {
            for (Long l : times) {
                writer.println(l);
            }
        }
    }
}