.wrapper{position:relative;}
.wrapperHidden{position:relative; display: none;}
    .right,.left{width:50%; position:relative;}
    .right{float: right;}
    .left{float:left;}

/*says the parent to surround all my content*/
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.wrapperHidden:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
   display: none;
}

.resultTable {
  border-collapse: collapse;
  border: 1px solid black;
  width: 80%;
}

.table, .radio, .graph {
      padding-left: 10px;
}

.table {
  padding-right: 10px;
}

.ui-slider {
  margin-left: 10px;
  margin-right: 10px;
}

