<!DOCTYPE html>
<html>
<head>
  <title>Single point measurement results</title>

  <script src="js?jquery-2.1.3.min.js"></script>
  <script src="js?dygraph-combined.js"></script>

  <script>$(document).ready(function()  { 
        var data = [ 
                    #foreach ($res in $results)
                      #if ($foreach.index > 0)
                       ,
                      #end
                      $res
                    #end
                    ];        
                
        $("textarea").val(data.join(", "));

        var graphdata = [];

        for (i = 0; i < data.length; i++) { 
            graphdata.push([i, data[i]]);
        }

        var g = new Dygraph(document.getElementById("graph"), graphdata,
                          {
                          ylabel: "Elapsed time (ns)",
                          xlabel: "Measurement count",
                          drawPoints: true,
                          strokeWidth: 0,
                          pointSize: 2,
                          yAxisLabelWidth: getWidthYLabel(data),
                          //maxNumberWidth: 10,
                          labels: ['id', 'Time (ns)']
});


        

        });

  /**
 * Computes the width of y-axis label (so that it does not interfere with values)
 * @param {Object} values array of values to be plotted
 */
function getWidthYLabel(values) {
  
  var maxVal = Math.max.apply(null, values);

  if (maxVal < 10000) {
    return 50;
  } else if (maxVal < 100000) {
    return 60;
  } else if (maxVal < 1000000) {
    return 70;
  } else return 80;
}
  </script>
</head>

<body>
    <div id ="graph">
        
    </div>

    <div>
        <p>Results in a text form:</p>
        <textarea rows="5" cols="50" readonly>
            
       </textarea>
    </div>
</body>

</html>